@charset "UTF-8";
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma Regular';
  src: url("../fonts/Tahoma.eot");
  src: url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/Tahoma.woff") format("woff"), url("../fonts/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #262626;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 15px;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

/*кнопка*/
.button {
  padding: 3px 12px;
  border-radius: 2px;
  font-family: 'Helvetica Neue', serif;
  border: 1px solid #4090db;
  background-color: transparent;
  color: #4090db;
  letter-spacing: -0.6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  background-color: #6ba9e3;
  color: #ffffff;
}

.button-more {
  padding: 5px 28px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
}

.button-more:hover {
  background-color: #404040;
  color: #ffffff;
}

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
          box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
}

.logo {
  margin-left: 55px;
}

.profile {
  padding-top: 30px;
  padding-left: 27px;
}

.profile-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-title h1 {
  font-size: 35px;
  font-family: 'Myriad Pro Regular', sans-serif;
  letter-spacing: -1.4px;
}

.profile-btn {
  margin-left: 22px;
}

.profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}

.profile-stats__posts {
  margin-right: 38px;
}

.profile-date {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  font-size: 17px;
  font-family: 'Tahoma Regular', sans-serif;
}

.profile-date p {
  margin-right: 18px;
}

.posts strong {
  font-size: 17px;
}

.posts span {
  color: #3d4044;
}

@media (max-width: 1200px) {
  .profile {
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .profile {
    padding-left: 0;
  }
  .profile-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 576px) {
  .header {
    text-align: center;
  }
  .logo {
    margin: 0;
  }
  .profile {
    padding-left: 0;
  }
  .profile-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-stats {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile-date {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main {
  padding: 99px 0 75px;
}

.main-btn {
  margin-top: 30px;
  margin-left: 37%;
}

.box {
  position: relative;
}

.box:hover .box-content {
  opacity: 1;
}

.box-three {
  position: relative;
}

.box-image {
  position: relative;
  width: 292px;
  height: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.box-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.box-image:hover:before {
  opacity: 0;
}

.box-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.box-content {
  font-size: 17px;
  opacity: 0.5;
}

.box-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 96px;
  left: 20px;
}

.box-content__row_two {
  bottom: 57px;
}

.box-content__row_upone {
  bottom: 144px;
  left: 26px;
}

.box-content__row_uptwo {
  bottom: 104px;
  left: 26px;
}

.box-content__title {
  width: 102px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.box-content__favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79px;
}

.box-content__favorite img {
  height: 19px;
  margin-right: 5px;
}

.box-content__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}

.box-content__comment img {
  margin-right: 10px;
}

.box-content__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79px;
}

.box-content__play img {
  margin-right: 10px;
}

.box-content__upload {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 200px;
}

.box-content__camera {
  position: absolute;
  width: 38px;
  top: 10px;
  left: 243px;
}

.col-lg-4 {
  max-width: 28.33333%;
}

.row-next {
  margin-top: 12px;
}

@media (max-width: 1200px) {
  .main-btn {
    margin-left: 43%;
  }
  .col-lg-4 {
    max-width: 33.33333%;
  }
}

@media (max-width: 992px) {
  .col-lg-4 {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .main-btn {
    margin-left: 17%;
  }
  .col-lg-4 {
    max-width: 51%;
  }
}

@media (max-width: 576px) {
  .main-btn {
    margin-left: 30%;
  }
}
/*# sourceMappingURL=style.css.map */